+<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center>
        <title>Bot Studio</title>
    </center>
    <style>
        body {
            background-color: #181818;
        }
        
        h1 {
            color: white;
        }
    </style>
</head>



<center>


    <big> <h1 style="color: rgb(255, 255, 255);">Bot Studio</h1></big>
    <big> <h4 style="color: white;"
    
    <big><hr></big>
</center>

</a><big><h1><center>WELCOME TO MY WEBSITE</center></h1></big>
<center><big> <h3 style="color: rgb(128, 126, 126);">HELLO, IM ENGLAND PROGRAMMER FROM POLAND.</h3></big></center>
<center><big> <h3 style="color: rgb(128, 126, 126);">I'M USE: UNITY, C#, C++, VISUAL STUDIO, VISUAL STUDIO CODE AND CSS.</h3></big></center>
<center><big> <h3 style="color: rgb(128, 126, 126);">IF YOU WANT CONTACT WITH ME JOIN MY DISCORD SERVER!</h3></big></center>
<center><a href="https://discord.gg/9DtWNtw3rq">
    JOIN OUR COMMUNITY
    </a> </center>
<CEnter> <big> <h4 style="color: rgb(255, 255, 255);">EASY CONTACT WITH SUPPORT</h4></big></CEnter>
<CEnter>
    <h3 style="color: rgb(128, 126, 126);">YOU CAN CONTACT WITH ME FROM DISCORD AN E-MAIL</h3>
</CEnter>




</html>
